header {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);

}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;

}

.container {
    max-width: 1200px;
    margin: 0 auto;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.navbar__logo {
    max-width: 300px;

}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}



.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;

}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;


}



