/* COLLECTIONS */

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;  
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);  
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;

}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
    
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

